/* Base ----------------------------------------------------------- */
body {
	color: #454545;
	/*font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;*/
	font-family: 'Meiryo', sans-serif,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","ＭＳ Ｐ明朝","MS PMincho","MS PGothic",Meiryo,Osaka,serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 20px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}
p {
	line-height: 20px;
	margin-bottom: 20px;
}
a {
	color: blue;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0 0 20px 20px;
	list-style: disc;
}
table {
	margin-bottom: 20px;
}
table, tr, td {
	border: 1px solid black;
}
img {}
strong {
	font-weight: bold;
}



/* Layout ----------------------------------------------------------- */
.l-gutter {
	padding-left: 15px;
	padding-right: 15px;
}
.l-gutter.l-gutter-med {
	padding-left: 57px;
	padding-right: 57px;
}
.l-grid {
	font-size: 0px;
}
.l-grid .l-grid-col {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}
.l-grid.l-grid-2cols {}
.l-grid.l-grid-2cols .l-grid-col {
	width: 50%;
}
.l-grid.l-grid-3cols {}
.l-grid.l-grid-3cols .l-grid-col {
	width: 33.33%;
}
.l-grid.l-grid-4cols {}
.l-grid.l-grid-4cols .l-grid-col {
	width: 25%;
}
.l-grid.l-grid-5cols {}
.l-grid.l-grid-5cols .l-grid-col {
	width: 20%;
}
.l-grid.l-grid-6cols {}
.l-grid.l-grid-6cols .l-grid-col {
	width: 16.66%;
}
.l-table {
	display: table;
}
.l-table .l-table-row {
	display: table-row;
	width: 100%;
}
.l-table .l-table-cell {
	display: table-cell;
	vertical-align: top;
}
.l-table .l-table-cell.l-table-cell-middle {
	vertical-align: middle;
}
.l-table .l-table-cell.l-table-cell-bottom {
	vertical-align: bottom;
}
.l-header {
	background: white;
	padding: 16px 0;
	width: 100%;
	position: fixed;
	top: 0px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	z-index: 5;
}
.l-content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.l-footer {
	background: #9a9a9a;
	color: white;
	padding: 50px 0 40px 0;
}





/* Module ----------------------------------------------------------- */
.button {
	display: inline-block;
	background: #3399cc;
	color: white;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	padding: 10px 16px;
}


section {
	padding: 40px 0px;
}
section p {
	font-size: 18px;
	line-height: 30px;
}
section .section-h {
	font-size: 25px;
	color: #3399cc;
	font-weight: bold;
	text-align: center;
	margin-bottom: 55px;
	line-height: 32px;
}
section.about .l-content {
	max-width: 848px;
}
section h4 {
	color: #3399cc;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}


.logo {}
.logo::after {
	content: "";
	clear: both;
	display: block;
}
.logo .logo-img-anc {
	float: left;
	margin-right: 15px;
}
.logo .logo-img-anc .logo-img {}
.logo .logo-slogan {
	font-size: 10px;
	color: #888888;
	line-height: 12px;
	margin-bottom: 8px;
}
.logo .logo-h {
	margin: 0px;
}
.logo .logo-h .logo-h-anc {
	font-size: 45px;
	color: #2989b2;
	text-decoration: none;
	text-transform: uppercase;
}

.header-cont-right {}

.header-contact {
	font-size: 0px;
	max-width: 400px;
	margin: 0 0 20px auto;
}
.header-contact .header-contact-quote {
	display: inline-block;
	width: 50%;
	font-size: 12px;
	vertical-align: middle;
}
.header-contact .header-contact-quote .quote-here.button {
	padding: 10px 16px;
}
.header-contact .header-contact-numbox {
	display: inline-block;
	width: 50%;
	font-size: 12px;
	vertical-align: middle;
}
.header-contact .header-contact-numbox p {
	margin-bottom: 0px;
	font-size: 11px;
}
.header-contact .header-contact-numbox p.header-contact-numbox-num {
	font-size: 23px;
}
.nav.nav-header {}
.nav.nav-header ul {
	margin: 0px;
	font-size: 0px;
	list-style: none;
}
.nav.nav-header ul li {
	display: inline-block;
	font-size: 14px;
	margin-left: 40px;
}
.nav.nav-header ul li:first-child {
	margin-left: 0px;
}
.nav.nav-header ul li a {
	text-decoration: none;
	color: #444444;
	font-size: 13px;
	font-weight: bold;
}



.nav-sp-trigger {
	position: relative;
	display:  none;
	width: 30px;
	height: 30px;
	margin: 6px;
}
.nav-sp-trigger span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.nav-sp-trigger span:before, .nav-sp-trigger span:after {
	position: absolute;
	content: '';
}
.nav-sp-trigger span, .nav-sp-trigger span:before, .nav-sp-trigger span:after {
	width: 30px;
	height: 3px;
	background-color: #000;
	display: block;
}
.nav-sp-trigger span:before {
	margin-top: -12px;
}
.nav-sp-trigger span:after {
	margin-top: 12px;
}



.nav.nav-sp {
	position: fixed;
	z-index: 4;
	top: 61px;
	/*right: 0px;*/
	right: -350px;
	width: 310px;
	background: rgba(255, 255, 255, 0.9);
	-ms-transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.nav.nav-sp ul {
	margin: 0px;
	list-style: none;
}
.nav.nav-sp ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
.nav.nav-sp ul li:last-child {
	border-bottom: 0px;
}
.nav.nav-sp ul li a {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 14px;
	padding: 18px 24px;
}
.nav.nav-sp ul li a:hover {
	background: #51a5c9;
	color: white;
}
.nav.nav-sp.is-shown {
	right: 0px;
}


.hero {
	position: relative;
}
.hero .hero-imgbg {
	text-align: center;
	overflow: hidden;
}
.hero .hero-imgbg img {
	width: 100%;
	max-width: 1500px;
}
.hero .hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
}
.hero .hero-content .hero-content-h {
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	line-height: 26px;
	margin-bottom: 40px;
}
.hero .hero-content .hero-content-slogan {
	display: block;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	line-height: 56px;
	margin-bottom: 44px;
}
.hero .hero-content .quote-here {
	display: inline-block;
	width: 100%;
	max-width: 300px;
	padding: 14px 0px;
	font-weight: bold;
	font-size: 15px;
}


.linebelw::after {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background: #e8f8ff;
	margin: 0 auto;
	position: relative;
	bottom: -22px;
}
.linebelw.bg-pale::after {
	background: #91c9e8;
}
.linebelw.bg-white::after {
	background: white;
}


.bgcolor {}
.bgcolor.bgcolor-labador {
	background: #67b8de;
}
.bgcolor.bgcolor-skyblue {
	background: #e8f8ff;
}



.feature {
	padding-bottom: 30px;
}

.feature-card-list {}
.feature-card-list ul {
	margin: 0px;
	list-style: none;
}
.feature-card-list ul li {}
.feature-card-list ul li .feature-card-list-itemcont {
	text-align: center;
}
.feature-card-list ul li .feature-card-list-itemcont .feature-card-list-img {
	margin-bottom: 10px;
}
.feature-card-list ul li .feature-card-list-itemcont .feature-card-list-name {
	color: white;
	font-size: 25px;
	font-weight: bold;
	line-height: 28px;
}
.feature-card-list ul li .feature-card-list-itemcont .feature-card-list-name span {
	font-size: 20px;
	display: block;
}
.feature-card-list ul li .feature-card-list-itemcont .feature-card-list-desc {
	font-size: 13px;
	color: white;
	line-height: 22px;
}



.linksto {}


.linksto-card-list {}
.linksto-card-list ul {
	margin: 0px;
	list-style: none;
}
.linksto-card-list ul li {}
.linksto-card-list ul li .linksto-card-list-anc {
	display: block;
	text-decoration: none;
}
.linksto-card-list ul li .linksto-card-list-itemcont {
	text-align: center;
	border: 1px solid #e8f8ff;
	padding: 64px 0;
}
.linksto-card-list ul li .linksto-card-list-itemcont .linksto-card-list-img {
	margin-bottom: 16px;
}
.linksto-card-list ul li .linksto-card-list-itemcont .linksto-card-list-name {
	font-size: 20px;
	color: #27769e;
	margin-bottom: 0px;
}


.pricing-table {
	width: 100%;
}
.pricing-table, .pricing-table tr, .pricing-table td {
	border: 1px solid #91c9e8;
}
.pricing-table tr {}
.pricing-table tr td {
	padding: 16px 26px;
	vertical-align: middle;
}

.pricing-table tr td.pricing-table-tdlabel {
	background: #91c9e8;
	color: white;
	text-align: center;
	width: 320px;
	min-width: 86px;
	vertical-align: middle;
	padding: 0px;
}
.pricing-table tr td.pricing-table-tdcompare {
	width: 36%;
}

.pricing-table tr td .pricing-table-h {
	margin: 0px;
}
.pricing-table tr td .pricing-table-h .pricing-table-h-tag {
	display: block;
	background: #ff973d;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	max-width: 190px;
	margin: 0 auto 30px auto;
	padding: 10px;
}
.pricing-table tr td p {
	margin: 0px;
	font-size: 14px;
	line-height: 20px;
}


.flow {
	background: #e8f8ff;
}

.flow-card-list {}
.flow-card-list ul {
	margin: 0px;
	list-style: none;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 84px;
}
.flow-card-list ul li {
	margin-bottom: 52px;
}
.flow-card-list ul li .flow-card-list-itemcont {
	text-align: center;
	padding: 0 20px;
}
.flow-card-list ul li .flow-card-list-itemcont .flow-card-list-itemcont-portrait {
	position: relative;
}
.flow-card-list ul li .flow-card-list-itemcont .flow-card-list-itemcont-portrait .flow-card-list-itemcont-portrait-num {
	font-size: 35px;
	font-weight: bold;
	color: white;
	background: #ff973d;
	width: 50px;
	height: 50px;
	text-align: center;
	display: block;
	position: absolute;
	top: -36px;
	left: 0px;
	border-radius: 50%;
	line-height: 52px;
}
.flow-card-list ul li .flow-card-list-itemcont .flow-card-list-itemcont-portrait .flow-card-list-img {
	margin-bottom: 15px;
}
.flow-card-list ul li .flow-card-list-itemcont .flow-card-list-name {
	font-size: 20px;
	font-weight: bold;
	color: #27769e;
	margin-bottom: 10px;
}
.flow-card-list ul li .flow-card-list-itemcont p {
	font-size: 14px;
	line-height: 22px;
}



.faq {}
.faq .l-content {
	max-width: 830px;
}

.faq-list {}
.faq-list ul {
	margin: 0px;
	list-style: none;
}
.faq-list ul li {}
.faq-list ul li .faq-list-qa {}
.faq-list ul li .faq-list-qa .faq-list-qa-q {
	background: #eeeeee;
	padding: 10px 20px;
	margin-bottom: 1px;
}
.faq-list ul li .faq-list-qa .faq-list-qa-q::after {
	content: "";
	clear: both;
	display: block;
}
.faq-list ul li .faq-list-qa .faq-list-qa-q .faq-list-qa-q-anc {
	display: block;
	text-decoration: none;
}
.faq-list ul li .faq-list-qa .faq-list-qa-q .faq-list-qa-q-ico {
	background: #ff973d;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 12px;
	display: inline-block;
	float: left;
}
.faq-list ul li .faq-list-qa .faq-list-qa-q .faq-list-qa-q-h {
	font-size: 14px;
	font-weight: normal;
	color: #3399cc;
	margin: 0px;
	margin-left: 52px;
	line-height: 34px;
}
.faq-list ul li .faq-list-qa .faq-list-qa-a {
	display: none;
}
.faq-list ul li .faq-list-qa .faq-list-qa-a p {
	font-size: 12px;
	line-height: 20px;
}



.contact {
	text-align: center;
	background: #e8f8ff;
	padding: 54px 0;
}
.contact .quote-web {
	width: 400px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	border: 8px solid white;
	box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.5);
}

.contact-numbox {
	margin-bottom: 25px;
}
.contact-numbox .contact-numbox-ico {
	display: inline-block;
	margin-right: 5px;
}
.contact-numbox .contact-numbox-ico .fa {
	font-size: 45px;
}
.contact-numbox .contact-numbox-cont {
	display: inline-block;
}
.contact-numbox .contact-numbox-cont p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 0px;
}
.contact-numbox .contact-numbox-cont p .contact-numbox-num {
	font-size: 35px;
}



.info {
	background: #eeeeee;
}
.info .l-content {
	max-width: 830px;
}

.info-list {}
.info-list ul {
	margin: 0px;
	list-style: none;
}
.info-list ul li {
	background: white;
	margin-bottom: 1px;
	padding: 10px 22px;
}
.info-list ul li p {
	margin-bottom: 0px;
	font-size: 14px;
}
.info-list ul li p a {
	text-decoration: none;
	color: #3399cc;
}
.info-list ul li p .info-list-date {
	font-weight: bold;
	color: black;
}
.info-list ul li p .info-list-slash {
	color: #f0f0f0;
	margin: 0 10px;
}



.nav-footer {
	text-align: center;
}
.nav-footer ul {
	margin: 0px;
	list-style: none;
	margin-bottom: 30px;
}
.nav-footer ul li {
	display: inline-table;
	margin: 0 26px;
	margin-bottom: 5px;
	position: relative;
}
.nav-footer ul li::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 12px;
	top: 4px;
	right: -28px;
	background: #aaaaaa;
	-ms-transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	transform: rotate(25deg);
}
.nav-footer ul li:first-child {
	margin-left: 0px;
}
.nav-footer ul li:last-child {
	margin-right: 0px;	
}
.nav-footer ul li a {
	color: white;
	text-decoration: none;
	font-size: 12px;
}


.copyright {
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
}

/* State ----------------------------------------------------------- */




/* Helpers ----------------------------------------------------------- */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.width-full {
	width: 100%;
}
.align-middle {
	vertical-align: middle;
}
.align-bottom {
	vertical-align: bottom;
}
.display-none {
	display: none;
}
.visibility-hidden {
	visibility: hidden;
}
.float-right {
	float: right;
}
.clear-both {
	clear: both;
}
.clear-box-float::after {
	content: '';
	clear: both;
}
.relative {
	position: relative;
}
.display-pc {}
.display-sp {
	display: none;
}
.width-full-push::after {
	content: "______________________________________________________________________________________________________________________________";
	visibility: hidden;
}
.imgcontent-float-left {
	float: left;
	margin: 0 15px 15px 0;
}
.color-light-gray {
	color: #888888;
}
.color-labador {
	color: #3399cc;	
}
.fsize-small {
	font-size: 14px;
}
.fsize-xsmall {
	font-size: 12px;
}
.fsize-xl {
	font-size: 50px;
}
.fsize-xll {
	font-size: 100px;
}





@media screen and (max-width:1024px ) {
	/* Layouts ----------------------------------------------------------- */
	.l-header {
		padding: 8px 0;
		background: white;
	}
	.l-main {
		margin-top: 61px;	
	}

	/* Modules ----------------------------------------------------------- */
	.hero .hero-content .hero-content-h {
	    font-size: 14px;
		margin-bottom: 15px;
	}
	.hero .hero-content .hero-content-slogan {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 15px;
	}

}



@media screen and (max-width:768px ) { 
	/* Layouts ----------------------------------------------------------- */
	.l-grid.l-grid-2cols .l-grid-col {
		width: 100%;
	}
	.l-grid.l-grid-3cols .l-grid-col {
		width: 100%;
	}
	.l-grid.l-grid-5cols .l-grid-col {
		width: 100%;
	}


	/* Modules ----------------------------------------------------------- */

	.logo {
	    display: inline-block;
	}
	.logo .logo-img-anc .logo-img {
		width: 36px;
	}
	.logo .logo-slogan {
	    display: none;
	}
	.logo .logo-h {
	    display: inline-block;
	}
	.logo .logo-h .logo-h-anc {
		display: inline-block;	
	}

	.nav-sp-trigger {
		display:  inline-block;
	}

	.hero .hero-imgbg img {
	    min-width: 768px;
		position: relative;
		left: 50%;

	    transform: translate(-50%,0%);
	}
	.hero .hero-content {
		width: 100%;
		max-width: 400px;
	}


	.pricing-table tr td {
		padding: 12px;
	}
	.pricing-table tr td.pricing-table-tdlabel {}
	.pricing-table tr td.pricing-table-tdcompare {}
	.pricing-table tr td .pricing-table-h {
		font-size: 18px
	}
	.pricing-table tr td .pricing-table-h .fsize-xl {
		font-size: 18px
	}
	.pricing-table tr td .pricing-table-h .fsize-xll {
		font-size: 18px
	}
	.pricing-table tr td .pricing-table-h .pricing-table-h-tag {
		font-size: 12px;
		font-weight: normal;
		max-width: 90px;
		margin-bottom: 14px;
	}
	.feature-card-list ul li .feature-card-list-itemcont {
	    padding: 20px 0;
	}


	/* Helpers ----------------------------------------------------------- */
	.display-pc {
		display: none;
	}
	.display-sp {
		display: block;
	}
	.imgresponsive-sp {
		width: 100%;
		max-width: 468px;
		margin: 0 auto 15px auto;
		float: none;
		display: block;
	}

}


@media screen and (max-width:468px ) {
	/* Modules ----------------------------------------------------------- */
	.pricing-table tr td .pricing-table-h .pricing-table-h-tag {
		max-width: 48px;
	}
	.contact .quote-web {
		width: 80%;
	}
}